<server>
    <option name="bind_port" value="4000" />
    <option name="default_start" value="ravren:beginning" />
    <option name="debug" value="yes" />
    <option name="currency" value="dubblek" />

    <stance file="stances.xml"/>

    <area name="system" file="areas/system.xml" />
    <area name="ravren" file="areas/ravren.xml" />
    <area name="testland" file="areas/testland.xml" />

    <calendar name="Ravren Standard" file="calendar.xml" />

    <handlers file="handlers-map.xml" />
</server>
